ATPROTO_HOST=https://bsky.social
ATPROTO_IDENTIFIER=
ATPROTO_PASSWORD=

LINKDING_ENDPOINT=
LINKDING_API_KEY=

# Set to true to ignore archived bookmarks in Linkding.
IGNORE_ARCHIVED=true

# Set to true to not actually send any data to the AT Protocol API, but to see
# the contents of the records that would be created.
DRY_RUN=true
